/*body*/
.main{
    background-image: url(/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/*header*/

h1{
    text-align: center;
    color: #ECEE12;
}
.title{
    height: 200px;
    width: 100%;
    background-color: #14162A;
}


/*mid*/
.back{
    background:#EAEAD8;
}